body 
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    min-height: 120vh;
    background: #efefef;
    flex-wrap: wrap;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
    margin: 20px;
}

.ahorcado
{
    position: relative;
    height: 300px;
    width: 300px;
    bottom: 100px;
}

.puntaje
{
    flex: auto;
    flex-wrap: wrap;
    text-align: right;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tematica
{
    flex: auto;
    flex-wrap: wrap;
    text-align: right;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.palabra
{
    position: relative;
    bottom: 100px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
}

.letras
{
    flex: auto;
    text-align: center;
    display: inline-block;
    width: 45px;
    margin-left: auto;
    margin-right: auto;   
}

.letra
{
    position: relative;
    bottom: 100px;
    text-align: center;
    width: 40px;
    height: 40px;
	border: 1px solid #000000;
	background-color: #ff0000;
	color: #FFFFFF;
	font-weight: bold;
    transition: transform 80ms ease-in;
    margin: 0px 10px;   
}

#btnJugar
{
    display: flex;
    align-items: center;
    justify-content: center;
}

button
{
    max-width: min-content;
    border-radius: 20px;
	border: 1px solid #000000;
    background-color: #ff0000;
	color: #FFFFFF;
    font-size: 24px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
    text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.letra:disabled
{
    background-color: transparent;
    color: #000000;
}
